## ROC Examples
This documentation shows how to run ROC algorithm with different file structures. Here we will discuss on how to load xlsm files, Excel files etc. 

#### Install ROC package in R

In [17]:
# supress warnings
options(warn=-1)

# install ROC package
devtools::install_github("nagdevAmruthnath/Modified-Rank-Order-Clustering")
install.packages("xlsx")

Skipping install of 'ROC' from a github remote, the SHA1 (8e26bde7) has not changed since last install.
  Use `force = TRUE` to force installation

#### Load Library

In [1]:
library(ROC)
library(xlsx)

#### Load the data

In [4]:
# load data using read table function
data = read.xlsx("ROC.xlsm", sheetName = "ROC")

# view data
data

   X1 X0 X1.1 X1.2 X1.3 X0.1 X1.4 X1.5 X0.2 X0.3 X1.6 X0.4 X0.5 X0.6 X1.7
1  1  0  1    1    0    1    1    0    0    1    1    1    1    0    1
2  1  0  0    0    1    0    1    0    1    1    0    1    0    0    0
3  1  1  0    1    1    0    1    1    1    0    1    1    1    1    0
4  1  0  0    1    1    0    0    0    1    1    0    1    1    1    0
5  0  0  1    1    1    0    1    1    1    1    0    1    1    0    1
6  1  1  0    1    0    1    0    1    0    0    0    0    0    0    1
7  0  0  1    1    0    1    1    1    0    0    0    0    0    1    0
8  1  1  0    0    0    1    0    0    0    1    1    0    1    1    1
9  0  0  1    1    0    1    0    0    0    1    0    0    1    0    1
10 0  0  1    1    0    1    1    0    0    0    0    1    0    1    0
11 0  0  0    0    0    1    1    1    0    0    0    1    0    0    0
12 0  1  0    1    0    0    1    0    1    1    0    1    0    1    0
13 0  1  0    1    0    1    1    1    1    1    0    0    0    0    1
14 1  0  0    0    1    0    0    0    1    1    0    0    0    1    1

#### Perform ROC algorithm on data

In [5]:
data = as.data.frame(data)
ROC(data)

Warning message in if (cw[, ncol(cw)] == old[, ncol(old)]) {:
“the condition has length > 1 and only the first element will be used”Warning message in if (cw[, ncol(cw)] == old[, ncol(old)]) {:
“the condition has length > 1 and only the first element will be used”Warning message in if (cw[(nrow(cw)), 1:col] == old[(nrow(cw)), 1:col]) {:
“the condition has length > 1 and only the first element will be used”

   1     2     4     8     13    11    14    12    7     9     5     15
3      1     1     1     1     1     1     1     1     1     1     1     0
6      1     1     1     1     0     0     0     0     0     0     0     1
8      1     1     0     0     1     1     1     0     0     0     0     1
1      1     0     1     0     1     1     0     1     1     0     0     1
4      1     0     1     0     1     0     1     1     0     1     1     0
14     1     0     0     0     0     0     1     0     0     1     1     1
2      1     0     0     0     0     0     0     1     1     1     1     0
13     0     1     1     1     0     0     0     0     1     1     0     1
12     0     1     1     0     0     0     1     1     1     1     0     0
5      0     0     1     1     1     0     0     1     1     1     1     1
7      0     0     1     1     0     0     1     0     1     0     0     0
9      0     0     1     0     1     0     0     0     0     0     0     1
10     0     0     1     0     0     0     1     1     1     0     0     0
11     0     0     0     1     0     0     0     1     1     0     0     0
15 32512 28864 27900 24754 23592 22528 22100 19814 18934 18400 18208 15016
   6     10   3    V16
3      0    0    0 32752
6      1    0    0 30732
8      1    1    0 26382
1      1    1    1 22223
4      0    1    0 21938
14     0    1    0 16698
2      0    1    0 16626
13     1    1    0 14446
12     0    1    0 12770
5      0    1    1  7419
7      1    0    1  6469
9      1    1    1  5135
10     1    0    1  4549
11     1    0    0  2244
15 14494 8168 2108    NA