## ROC Examples
This documentation shows how to run ROC algorithm with different file structures. Here we will discuss on how to load CSV files, Excel files etc. 

#### Install ROC package in R

In [17]:
# supress warnings
options(warn=-1)

# install ROC package
devtools::install_github("nagdevAmruthnath/Modified-Rank-Order-Clustering")

Skipping install of 'ROC' from a github remote, the SHA1 (8e26bde7) has not changed since last install.
  Use `force = TRUE` to force installation

#### Load Library

In [18]:
library(ROC)

#### Load the data

In [19]:
# load data using read table function
data = read.table("ROC.csv", sep=",", header = F)

# view data
data

   V1 V2 V3 V4 V5 V6 V7 V8 V9 V10 V11 V12 V13 V14 V15
1  1  0  1  1  1  0  1  1  0  0   1   0   0   0   1
2  1  0  1  1  0  1  1  0  0  1   1   1   1   0   1
3  1  0  0  0  1  0  1  0  1  1   0   1   0   0   0
4  1  1  0  1  1  0  1  1  1  0   1   1   1   1   0
5  1  0  0  1  1  0  0  0  1  1   0   1   1   1   0
6  0  0  1  1  1  0  1  1  1  1   0   1   1   0   1
7  1  1  0  1  0  1  0  1  0  0   0   0   0   0   1
8  0  0  1  1  0  1  1  1  0  0   0   0   0   1   0
9  1  1  0  0  0  1  0  0  0  1   1   0   1   1   1
10 0  0  1  1  0  1  0  0  0  1   0   0   1   0   1
11 0  0  1  1  0  1  1  0  0  0   0   1   0   1   0
12 0  0  0  0  0  1  1  1  0  0   0   1   0   0   0
13 0  1  0  1  0  0  1  0  1  1   0   1   0   1   0
14 0  1  0  1  0  1  1  1  1  1   0   0   0   0   1
15 1  0  0  0  1  0  0  0  1  1   0   0   0   1   1

#### Perform ROC algorithm on data

In [20]:
data = as.data.frame(data)
ROC(data)

   1     2     4     8     11    13    14    7     5     12    9     15
4      1     1     1     1     1     1     1     1     1     1     1     0
7      1     1     1     1     0     0     0     0     0     0     0     1
9      1     1     0     0     1     1     1     0     0     0     0     1
1      1     0     1     1     1     0     0     1     1     0     0     1
2      1     0     1     0     1     1     0     1     0     1     0     1
5      1     0     1     0     0     1     1     0     1     1     1     0
15     1     0     0     0     0     0     1     0     1     0     1     1
3      1     0     0     0     0     0     0     1     1     1     1     0
14     0     1     1     1     0     0     0     1     0     0     1     1
13     0     1     1     0     0     0     1     1     0     1     1     0
6      0     0     1     1     0     1     0     1     1     1     1     1
8      0     0     1     1     0     0     1     1     0     0     0     0
10     0     0     1     0     0     1     0     0     0     0     0     1
11     0     0     1     0     0     0     1     1     0     1     0     0
12     0     0     0     1     0     0     0     1     0     1     0     0
16 32640 28768 28286 26713 23552 22036 21290 19707 19344 18099 17392 15700
   6     10   3    V16
4      0    0    0 32752
7      1    0    0 30732
9      1    1    0 26382
1      0    0    1 23753
2      1    1    1 22191
5      0    1    0 21362
15     0    1    0 16730
3      0    1    0 16626
14     1    1    0 14494
13     0    1    0 12722
6      0    1    1  6907
8      1    0    1  6533
10     1    1    1  4623
11     1    0    1  4517
12     1    0    0  2212
16 13391 6132 3102    NA